:root{
    background: #eef2fa;
    font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;

}

h1 {
    font-size: 3.4rem; 
    text-align: center; 
    padding: 1.5rem;
}

.quiz-wrapper {
    width: 95%;  
    margin: 1rem auto; 
    max-width: 560px;  
    padding: 1rem; 
}

.quiz-info{
    padding: 2.66rem;
}

.start-quiz{
    padding: 1.3rem 4rem;
    border-radius: 1rem;
    outline: none;
    border: none; 
    display: block;
    margin: 2rem auto; 
    font-size: 1.8em;
    box-shadow: 0 0 1rem .15rem;     
}


.quiz-content{
    width: 100%;
    padding: 1.5rem;
}

.tracker{
    display: flex;
    justify-content: space-between; 
}

.quizCounter,
.quizScore{
    text-align: center; 
    font-weight: 500; 
    padding: 1rem;
    
}

.quizHeading {
    font-size: 2.2rem; 
    padding: 1rem; 
    margin-top: 1rem;
    padding: 1rem;
    text-align: center; 
}

.quizPoints{
    font-size: 1.6rem; 
    padding: 1rem; 
    text-align: center;
}

.start-quiz,
.next-btn{
    cursor: pointer;
}

.options{
    width: 90%; 
    font-size: 1.44rem; 
    border: none;
    border-radius: .25rem; 
    /* margin: 1rem auto;   */
    cursor: pointer; 
    /* padding: 1rem 1.4rem;  */
    outline: none; 
    
      
}

.optionlist{
    background-color: #a9c4fa; 
    border-radius: .3185rem;
    padding: 1rem;
    margin: 0 .45rem;
    display: grid;
    grid-template-columns: repeat(2,auto);
}

.next-btn{
    display: block;
    font-size: 1.5em; 
    font-weight: 700;
    margin: 1rem auto;
    padding: 1.3rem 4rem;
    border-radius: 1rem;
    outline: none;
    border: none; 
    box-shadow: 0 0 1rem .15rem;     

}

.body-flex {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct{
    background: #4ff78f;
}

.incorrect{
    background: #f53232;
}headingEnd

.pointer-fix {
    pointer-events: none; 
}

.optionlist {
    width: 100%; 
    font-size: 1.44rem; 
    border-radius: .2rem; 
    margin: 1rem auto;  
    cursor: pointer; 
    padding: 1.3rem 1.4rem; 
    outline: none;   
}

.btn-reload {
    margin-top: 4rem; 
    background: #a9c4fa;
    padding: 1.3rem;
} 

.quizEnd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headingEnd-1,
.headingEnd-2{
    font-size: 2rem;
    margin: 1rem 0;
}

.score{
    font-size: 2.44rem;
    font-style: italic;
    background: #eef2fa;
    box-shadow: 0 0 .75rem .12rem;
    padding: 1.2rem;
}


.hide {
    display: none; 
}

@media only screen and (max-width: 43.75em) {
    html {
        font-size: 56.25%; 
	} 
	
	.counter-number,
	.score-text {
        font-size: 3em;
        font-weight: 700; 

	}
}